table {
    width: 100%;
    
  }

/* .card {
    max-width: 534px;
    max-height: 820px;
  } */
  body {
    background-color: red;
  }
  
  @media only screen and (max-width: 534px) {
    body {
      background-color: lightblue;
      width: 100%;
      
     
    }
  }
  
